@font-face {
  font-family: Lalezar;
  src: url(./src/font/Lalezar.ttf);
  font-weight: normal;
}
*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  font-family: ;
  direction: rtl;
}
:before,
:after {
  --tw-content: "";
}
html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
  font-family: Lalezar;
}
body {
  margin: 0;
  line-height: inherit;
  font-family: Lalezar;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  text-decoration: underline dotted;
}
.bg-\[\#00bf63\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 191 99 / var(--tw-bg-opacity)) /* #00bf63 */;
}
.text-\[\#00bf63\] {
  --tw-text-opacity: 1;
  color: rgb(0 191 99 / var(--tw-text-opacity)) /* #00bf63 */;
}
.items-cnter{
  align-items: center;
}